.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
    width: 250px;
    height: 350px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    border-radius: 10px;
}

.login-form {
    width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0077ff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #005fcc;
}