.navbar {
    height: 60px;
    background-color: #1e1e2f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.account {
    cursor: pointer;
}