.map-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#map-container {
    position: relative;
    width: 90%;
    height: 600px;
    border-radius: 12px;
    overflow: hidden;
}

.map-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.2);

    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}

.map-popup.active {
    transform: translateY(0);
}

.popup-content {
    padding: 20px;
    height: 100%;
}

.popup-header {
    display: flex;
    justify-content: flex-end;
}

.popup-actions button {
    margin-left: 8px;
    cursor: pointer;
}

.popup-body {
    display: flex;
    margin-top: 10px;
    height: 85%;
}

.popup-left {
    width: 60%;
}

.popup-right {
    width: 40%;
}

.popup-right img {
    width: 100%;
    border-radius: 10px;
}